:root {
   --light-bg-color: #ecdbba;
   --light-text-color: #191919;
   --primary-color: #c84b31;
   --primary-color-active: #993925;
   --accent-color: #2d4263;

   --s-padding: 0.5rem;
   --m-padding: 1.5rem;
   --l-padding: 2.5rem;

   --s-margin: 0.5rem;
   --m-margin: 1.5rem;
   --l-margin: 2.5rem;

   --l-title: 3rem;

   --s-gap: 1rem;
   --m-gap: 2.5rem;
}
html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}
